In [1]:
# 1
   #(1)
s='salomlar'
li=[]
for i in range(len(s)-1 , -1 ,-1):
    li.append(s[i])
print(''.join(li))

s='salomlar'
li=[]
for i in range(len(s)-1 , 1 ,-1):
    li.append(s[i])
print(''.join(li))

ralmolas
ralmol

In [87]:
#(2)
next_string = s[::-1]
next_string

'ralmolas'

In [42]:
#2
def missingNumber(nums):
    n = len(nums)
    set1 = set(range(n + 1))  
    s = set(nums) 
    missing_numbers = list(set1 - s)
    return sorted(missing_numbers)

print(missingNumber([3, 0, 1])) 
print(missingNumber([9, 6, 4, 2, 3, 12, 5, 7, 0, 1]))

[2]
[8, 10]

In [52]:
#3
def count_vowels_in_sentence(sentence) :

    counter = 0 
    for i in sentence:
        if i.lower() in 'aoiue':
            counter+=1
    return counter

a = count_vowels_in_sentence('aijghgA')
print(a)

3

In [61]:
#4

a = int(input('enter a number'))
l = []
for i in range(2,a+1):
   
    counter = 0
    for j in range(2,i):
        if i%j==0:
            counter +=1
    if counter==0:
        l.append(i)
l

[2, 3, 5, 7, 11, 13, 17, 19]

In [63]:
#5
import pandas as pd

# Sample data
data = {
    'City': ['City_A', 'City_A', 'City_B', 'City_B', 'City_C', 'City_C'],
    'Month': ['January', 'February', 'January', 'February', 'January', 'February'],
    'Temperature': [20, 25, 22, 28, 18, 23],
    'Rainfall': [30, 40, 20, 50, 10, 30]
}

# Create DataFrame
df = pd.DataFrame(data)

In [91]:
df

     City     Month  Temperature  Rainfall
0  City_A   January           20        30
1  City_A  February           25        40
2  City_B   January           22        20
3  City_B  February           28        50
4  City_C   January           18        10
5  City_C  February           23        30

In [102]:
grouped = df.groupby(['City', 'Month']).agg(
    mean_temperature=('Temperature', 'mean'),
    total_rainfall=('Rainfall', 'sum')
).reset_index()
grouped

     City     Month  mean_temperature  total_rainfall
0  City_A  February              25.0              40
1  City_A   January              20.0              30
2  City_B  February              28.0              50
3  City_B   January              22.0              20
4  City_C  February              23.0              30
5  City_C   January              18.0              10

In [101]:
filtered_df = df[df['Temperature'] > 25]