## File Handling

In [ ]:
#  'r' --- read
#  'w' --- write  --- (overwrite)
#  'a' --- append  -- (append)
#  'r+' -- read,write
#  'w+' -- write
#  'rb' -- read binary file
#  'wb'-- write binary file

In [9]:
a = open('sample//sample.txt')
data = a.read()
data
a.close()

In [24]:
with open('Country.txt','w') as f:
    f.write('I live in Uzbekistan')

In [25]:
with open('Country.txt','r') as f:
    data =f.read()
    
data

'I live in Uzbekistan'

In [32]:
with open('football_clubs_top_50_data.csv','r') as f:
    for line in f.readlines():
        print(line)
    
   
# print(data)

Team,Country,Captain,Awards_Won,Club_Budget_Million,Top_Scorer_Goals,Players_Under_25,Total_Players

FC Barcelona,Spain,Sergio Busquets,95,950,634,12,25

Real Madrid,Spain,Karim Benzema,99,1000,607,10,23

Manchester United,England,Harry Maguire,86,850,562,15,27

Liverpool,England,Jordan Henderson,82,750,511,13,26

Bayern Munich,Germany,Manuel Neuer,75,800,543,11,24

Paris Saint-Germain,France,Marquinhos,45,730,455,14,26

Juventus,Italy,Leonardo Bonucci,63,680,501,9,25

Chelsea,England,Reece James,58,720,503,13,27

Manchester City,England,Kevin De Bruyne,60,740,491,12,25

Arsenal,England,Martin Odegaard,55,690,480,16,26

Inter Milan,Italy,Lautaro Martínez,47,640,477,14,25

AC Milan,Italy,Davide Calabria,48,620,465,12,24

Atletico Madrid,Spain,Koke,52,610,453,15,26

Borussia Dortmund,Germany,Marco Reus,40,550,440,13,25

Tottenham Hotspur,England,Hugo Lloris,33,570,437,14,24

Ajax,Netherlands,Dua¡an Tadia,72,580,421,12,26

Sevilla,Spain,Jesais Navas,40,600,410,11,25

Porto,Portugal,Pepe,55,520,399,13,24

Napoli,Italy,Giovanni Di Lorenzo,50,500,395,12,25

Benfica,Portugal,Nicola¡s Otamendi,49,480,385,14,24

Leicester City,England,Jonny Evans,15,470,377,15,26

Lazio,Italy,Ciro Immobile,22,460,367,13,24

AS Roma,Italy,Lorenzo Pellegrini,24,450,359,12,25

Shakhtar Donetsk,Ukraine,Taras Stepanenko,34,420,351,11,26

RB Leipzig,Germany,Peter Gulacsi,32,400,345,10,24

Olympique Lyon,France,Alexandre Lacazette,41,390,335,13,25

Villarreal,Spain,Raul Albiol,19,380,329,14,26

Zenit Saint Petersburg,Russia,Dejan Lovren,30,370,320,12,24

Marseille,France,Dimitri Payet,28,350,315,11,25

Monaco,France,Wissam Ben Yedder,21,340,305,10,26

Real Sociedad,Spain,Mikel Oyarzabal,25,330,300,14,25

Everton,England,Seamus Coleman,26,310,290,13,24

Wolves,England,Conor Coady,16,300,285,12,26

Bayer Leverkusen,Germany,Lukas Hradecky,36,290,270,11,25

Valencia,Spain,Josa Gaya ,30,270,260,14,26

Celtic,Scotland,Callum McGregor,51,260,250,10,25

Rangers,Scotland,James Tavernier,55,250,245,13,26

Fiorentina,Italy,Cristiano Biraghi,24,240,240,14,25

West Ham United,England,Declan Rice,22,230,230,15,24

Schalke 04,Germany,Ralf Fahrmann,33,220,220,12,26

Galatasaray,Turkey,Fernando Muslera,40,210,215,10,25

Fenerbahche,Turkey,Altay Bayvandar,43,200,210,11,26

Besiktas,Turkey,Domagoj Vida,32,190,205,12,25

PSV Eindhoven,Netherlands,Luuk de Jong,45,180,200,14,26

Club Brugge,Belgium,Ruud Vormer,38,170,195,13,24

Olympiacos,Greece,Andreas Bouchalakis,49,160,185,10,25

Dynamo Kyiv,Ukraine,Serhiy Sydorchuk,28,150,175,11,26

Red Star Belgrade,Serbia,Aleksandar Katai,27,140,170,12,25

Rennes,France,Benjamin Bourigeaud,33,130,165,14,24

Lille,France,Jose Fonte,31,120,160,13,26

In [41]:
with open('data.txt','r') as f:
    data = f.read()
    f.seek(0)
    data2= f.read()
    
print(data)
print(data2)

uzbekiston
uzbekiston

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('stocks_2016.csv')
print(df)

  Symbol  Shares  Low  High
0   AAPL      80   95   110
1   TSLA      50   80   130
2    WMT      40   55    70

In [4]:
df2 = pd.read_csv('movie.csv')
print(df2)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
4       NaN        Doug Walker                     NaN       NaN
...     ...                ...                     ...       ...
4911  Color        Scott Smith                     1.0      87.0
4912  Color                NaN                    43.0      43.0
4913  Color   Benjamin Roberds                    13.0      76.0
4914  Color        Daniel Hsia                    14.0     100.0
4915  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
4                       131.0                     NaN        Rob Walker
...                       ...                     ...               ...
4911                      2.0                   318.0     Daphne Zuniga
4912                      NaN                   319.0     Valorie Curry
4913                      0.0                     0.0     Maxwell Moody
4914                      0.0                   489.0     Daniel Henney
4915                     16.0                    16.0  Brian Herzlinger

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
2                    11000.0  200074175.0        Action|Adventure|Thriller
3                    27000.0  448130642.0                  Action|Thriller
4                      131.0          NaN                      Documentary
...                      ...          ...                              ...
4911                   637.0          NaN                     Comedy|Drama
4912                   841.0          NaN     Crime|Drama|Mystery|Thriller
4913                     0.0          NaN            Drama|Horror|Thriller
4914                   946.0      10443.0             Comedy|Drama|Romance
4915                    86.0      85222.0                      Documentary

      ... num_user_for_reviews language  country  content_rating       budget  \
0     ...               3054.0  English      USA           PG-13  237000000.0
1     ...               1238.0  English      USA           PG-13  300000000.0
2     ...                994.0  English       UK           PG-13  245000000.0
3     ...               2701.0  English      USA           PG-13  250000000.0
4     ...                  NaN      NaN      NaN             NaN          NaN
...   ...                  ...      ...      ...             ...          ...
4911  ...                  6.0  English   Canada             NaN          NaN
4912  ...                359.0  English      USA           TV-14          NaN
4913  ...                  3.0  English      USA             NaN       1400.0
4914  ...                  9.0  English      USA           PG-13          NaN
4915  ...                 84.0  English      USA              PG       1100.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0         2009.0                  936.0        7.9          1.78
1         2007.0                 5000.0        7.1          2.35
2         2015.0                  393.0        6.8          2.35
3         2012.0                23000.0        8.5          2.35
4            NaN                   12.0        7.1           NaN
...          ...                    ...        ...           ...
4911      2013.0                  470.0        7.7           NaN
4912         NaN                  593.0        7.5         16.00
4913      2013.0                    0.0        6.3           NaN
4914      2012.0                  719.0        6.3          2.35
4915      2004.0                   23.0        6.6          1.85

     movie_facebook_likes
0                   33000
1                       0
2                   85000
3                  164000
4                       0
...                   ...
4911                   84
4912                32000
4913                   16
4914                  660
4915                  456

[4916 rows x 28 columns]